body {
    background-color: rgb(31, 22, 65);
    
}

header {
    justify-content: space-evenly;
}

.field {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.field-content {
    height: 700px;
    width: 90%;
    background-color: rgb(223, 223, 241);
    position: relative;
    
}

.player {
    position: absolute;
    left: 0%;
    bottom: 50%;

}

.baddie {
    position: absolute;
    left: 95%;
    bottom: 50%
    
}

.timer {
    font-size: 30px;
    padding-left: 50px;
    padding-top: 20px;
}

.level {
    font-size: 30px;
    padding-right: 70px;
    padding-top: 20px;
}