* {
    background-color: rgb(31, 22, 65);
}

.field {
    display: flex;
    justify-content: center;

}

.field-content {
    height: 700px;
    width: 1400px;
    background-color: rgb(223, 223, 241);
    margin: 70px;
    margin-top: 20px;
}

.handi {
    position: absolute;
    left: 50%;
    bottom: 50%;

}