* {
    background-color: rgb(31, 22, 65);
}

.field {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.field-content {
    height: 700px;
    width: 90%;
    background-color: rgb(223, 223, 241);
    position: relative;
    
}

.player {
    position: absolute;
    left: 50%;
    bottom: 50%;

}

.baddie {
    position: absolute;
    left: 50%;
    bottom: 85%
    
}